PORT=4004
NODE_ENV=development

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=media_queue

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
AWS_BUCKET=your_bucket_name